@font-face {
font-family: 'Airbnb Black';
font-style: normal;
font-weight: 900;
src: url('https://cdn.jsdelivr.net/gh/spotcare/fonts/airbnb/AirbnbCerealBlack.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/spotcare/fonts/airbnb/AirbnbCerealBlack.woff') format('woff');
}
