@font-face {
font-family: 'Airbnb Bold';
font-style: normal;
font-weight: 700;
src: url('https://cdn.jsdelivr.net/gh/spotcare/fonts/airbnb/AirbnbCerealBold.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/spotcare/fonts/airbnb/AirbnbCerealBold.woff') format('woff');
}
