@font-face {
font-family: 'Airbnb Extra Bold';
font-style: normal;
font-weight: 800;
src: url('https://cdn.jsdelivr.net/gh/spotcare/app@latest/fonts/airbnb/AirbnbCerealExtraBold.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/spotcare/app@latest/fonts/airbnb/AirbnbCerealExtraBold.woff') format('woff');
}
