@font-face {
font-family: 'Airbnb Medium';
font-style: normal;
font-weight: 500;
src: url('https://cdn.jsdelivr.net/gh/spotcare/fonts/airbnb/AirbnbCerealMedium.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/spotcare/fonts/airbnb/AirbnbCerealMedium.woff') format('woff');
}
